.breadcrumbs {
    &__list {
        display: flex;
        align-items: center;
        padding: 36px 0 28px;
        border-bottom: 1px solid #eee;
    }

    &__item {
        position: relative;

        &:not(:last-child) {
            margin-right: 35px;

            &::after {
                content: "/";
                position: absolute;
                top: 50%;
                right: -20px;
                color: var(--color-sub);
                font-size: 10px;
                transform: translateY(-50%);
            }
        }
    }

    &__link {
        color: var(--color-sub);
        font-size: 10px;
        text-transform: uppercase;
    }

    &__link--current {
        color: var(--color-dark);
    }
}
