.catalog-filters {
    width: 309px;
    padding-top: 35px;
    padding-right: 66px;
    margin-right: 30px;
}
.catalog-content {
    .container {
        display: flex;
    }
}
.hide-filters {
    margin-bottom: 19px;
    font-size: 10px;
    font-weight: 700;
    padding-left: 24px;
    text-transform: uppercase;
    background-image: url("../img/cross.png");
    background-position: left center;
    background-repeat: no-repeat;
}
.catalog-filter {
    padding-top: 29px;

    border-top: 1px solid #eee;
    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 35px;
        cursor: pointer;
        user-select: none;
    }

    &__caption {
        display: flex;
        align-items: center;
    }

    &__title {
        margin: 0;
        display: inline-block;
        font-size: 13px;
        font-weight: 700;
        text-transform: uppercase;
    }

    &__quantity {
        min-width: 16px;
        margin-left: 5px;
    }

    &__toggle {
        position: relative;
        width: 12px;
        height: 12px;
        color: #aaaaaa;

        &::before {
            content: "";
            position: absolute;
            left: 50%;
            top: 0;
            height: 100%;
            width: 2px;
            background-color: currentColor;
            transform: translateX(-50%);
        }
        &::after {
            content: "";
            position: absolute;
            left: 0;
            top: 50%;
            height: 2px;
            width: 100%;
            background-color: currentColor;
            transform: translateY(-50%);
        }
    }
    &--open {
        .catalog-filter__bottom {
            display: block;
        }
        .catalog-filter__toggle {
            &::before {
                display: none;
            }
        }
    }
    &__bottom {
        display: none;
    }

    &__items {
        columns: 2;
        padding-bottom: 40px;
    }

    &__item {
        margin-bottom: 14px;
        &:nth-child(5n) {
            margin-bottom: 0;
        }
    }
}

.custom-checkbox {
    display: inline-block;
    cursor: pointer;
    user-select: none;
    &__text {
        color: #aaa;
        font-size: 13px;
        position: relative;
        padding-left: 15px;

        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 3px;
            width: 12px;
            height: 12px;
            border: 2px solid #aaa;
        }
        &::after {
            content: "\2713";
            font-weight: 700;
            position: absolute;
            left: 2px;
            top: 1px;
        }
    }
    &__input {
        &:checked + span {
            color: var(--color-dark);
            &::before {
                border-color: var(--color-dark);
            }
        }
    }
}

.catalog-grid {
    width: 987px;
    padding-top: 34px;

    &__props {
    }

    &__content {
        display: flex;
        flex-wrap: wrap;
        column-gap: 30px;
        row-gap: 60px;
    }

    [data-grid-column="5"] {
        .catalog-grid__item {
            width: 17.569%;
        }
    }

    [data-grid-column="4"] {
        .catalog-grid__item {
            width: 22.721%;
        }
    }

    [data-grid-column="3"] {
        .catalog-grid__item {
            width: 31.3%;
        }
    }
}
.catalog-props {
    &__top {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    &__columns {
    }
}
.catalog-columns {
    display: flex;
    align-items: center;
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;

    &__text {
        margin-right: 8px;
    }

    &__list {
        display: flex;
        align-items: center;
        column-gap: 15px;
    }

    &__item {
    }

    &__btn {
        font-size: 10px;
        color: var(--color-sub);

        &:hover {
            color: var(--color-dark);
        }

        &--current {
            color: var(--color-dark);
            position: relative;

            &::after {
                content: "";
                position: absolute;
                bottom: -5px;
                left: 50%;
                transform: translateX(-50%);
                height: 2px;
                width: 22px;
                background-color: var(--color-dark);
            }
        }
    }
}
.catalog-props {
    &__choice {
        display: flex;
        align-items: center;
        column-gap: 5px;
    }
}
.catalog-choice {
    display: none;
    margin-bottom: 20px;

    &__item {
        color: var(--color-sub);
        font-size: 13px;
        border-radius: 15px;
        background-color: #eeeeee;
        padding: 4px 15px;
        transition: background-color 0.3s, color 0.3s;
        margin-right: 5px;
        margin-bottom: 130px;

        svg {
            width: 8px;
            height: 9px;
            fill: currentColor;
            pointer-events: none;
        }
        &:hover {
            background-color: var(--color-dark);
            color: var(--color-white);
            transition: background-color 0.3s, color 0.3s;
        }
    }

    &__clear {
        font-size: 13px;
        margin-left: 10px;
        border-bottom: 1px solid var(--color-dark);
    }
}
