.hero {
    height: 100vh;
    min-height: 700px;
    background-color: var(--quill-gray);
    &::before{
        content: "";
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(var(--color-black), 0.05);
    }

    &__container {
        position: relative;
        height: 100%;

    }

    &__title{
        margin: 0;
        font-size: 72px;
        font-weight: 700;
        max-width: 560px;
        margin-bottom: 40px;
    }

    &__descr{
        font-size: 18px;
        margin: 0;
    }

    &__image{
        position: absolute;
        right: 273px;
        bottom: 0;
        max-height: 90%;
    }
    &__content{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding: 0px 260px;
        height: 100%;
    }

}

.swiper-container {
    width: 100%;
    height: 100%;
    overflow: hidden;

    .swiper-slide {
        height: 100%;
    }
}

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 12px;
}
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 25px;
}

.swiper-pagination-bullet {
    width: 6px;
    height: 6px;
    background-color: var(--color-white);
    opacity: 0.5;
}

.swiper-pagination-bullet-active{
    position: relative;
    background-color: var(--color-dark);
    opacity: 1;
    

    &::before{
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: var(--color-white);
        z-index: -5;

    }

}

.marketing {
    position: absolute;
    bottom: 50px;
    left: 50px;
    display: flex;
    // height: 113px;
    max-width: 280px;
    padding: 10px 10px 13px 10px;
    background-color: var(--color-white);
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
    z-index: 100;
    transform: translate(-150vh);
    transition: transform 0.3s;

    &--visible{
        transform: translateX(0);
        transition: transform 0.3s;
    }


    &__image {
        flex-shrink: 0;

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__text {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-left: 9px;
    }

    &__subtitle {
        margin: 0;
        color: var(--color-sub);
        font-size: 11px;

    }

    &__title {
        margin: 0;
        padding: 0;
        font-size: 15px;
    }

    &__suptitle {
        color: var(--color-sub);
        font-size: 11px;
        font-style: italic;
    }

    &__close {
        position: absolute;
        top: 12px;
        right: 12px;
        height: 10px;
        width: 10px;
        padding: 0;
        background-image: url('../../img/close.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}

