.hero {
    height: 100vh;
    min-height: 700px;
    background-color: var(--quill-gray);
    &::before{
        content: "";
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(var(--color-black), 0.05);
    }

    &__container {
        position: relative;
        height: 100%;

    }

    &__title{
        margin: 0;
        font-size: 72px;
        font-weight: 700;
        max-width: 560px;
        margin-bottom: 40px;
    }

    &__descr{
        font-size: 18px;
        margin: 0;
    }

    &__image{
        position: absolute;
        right: 273px;
        bottom: 0;
        max-height: 90%;
    }
    &__content{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding: 0px 260px;
        height: 100%;
    }

}
.container {
}

.swiper-container {
    width: 100%;
    height: 100%;
    overflow: hidden;

    .swiper-slide {
        height: 100%;
    }
}
.swiper-pagination{
    margin-left: 24px;
}
.swiper-pagination-bullets{
    margin: 0 24px;
}

.swiper-pagination-bullet {
    margin-left: 24px;
    width: 6px;
    height: 6px;
    background-color: var(--color-white);
    opacity: 0.5;
}

.swiper-pagination-bullet-active{
    position: relative;
    background-color: var(--color-dark);
    opacity: 1;
    

    &::before{
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: var(--color-white);
        z-index: -5;

    }

}