.main-products {
    margin-bottom: 100px;

    &__container {
        padding-top: 55px;
    }

    &__nav {
        display: flex;
        justify-content: center;
        margin-bottom: 45px;
    }

    &__item {
        margin: 0px 18px;
    }

    &__btn {
        color: var(--color-sub);

        &:hover {
            color: var(--color-dark);
        }

        &--current {
            color: var(--color-dark);

            &::before {
                opacity: 1;
                transition: opacity 0.15s;
            }
        }
    }
}

.products-grid {
    display: flex;
    flex-wrap: wrap;

    &__item {
        margin-right: 30px;
        margin-bottom: 80px;

        &:nth-child(5n) {
            margin-right: 0;
        }

        &:nth-last-child(-n + 5) {
            margin-bottom: 0;
        }
    }
}

.main-products {
    &__btn-center {
        text-align: center;
    }

    &__more {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        color: var(--color-sub);
        font-size: 13px;
        margin-top: 45px;

        svg {
            display: inline-block;
            margin-top: 14px;
            height: 21px;
            width: 12px;
            fill: var(--color-dark);
        }
    }
}
